.gallery {
  position: relative;
  background-color: white;
  padding: 2rem 0;
}

.galleryButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(to right, #f3f4f6, #e0e0e0);
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  z-index: 10;

  &:hover {
    background: linear-gradient(to right, #e0e0e0, #bdbdbd);
  }
}

.galleryButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.galleryButton:first-of-type {
  left: 1rem;
}

.galleryButton:last-of-type {
  right: 1rem;
}

.galleryContainer {
  overflow: hidden;
  padding: 0 2rem;
}

.galleryItems {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.galleryItem {
  text-align: center;
  padding: 1rem;
}

.galleryImageWrapper {
  position: relative;
  width: 100%;
  // padding-top: 105%;
  padding-top: 105%;

  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  @media (max-width: $mobile-breakpoint) {
    padding-top: 105%;
  }
}

.galleryImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.galleryTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.galleryDescription {
  font-size: 1rem;
  color: #6b7280;
  margin-top: 0.25rem;
}

/* Mobile mode : dropdown menu */
@media (max-width: $mobile-breakpoint) {
  .galleryContainer {
    overflow: hidden;
    padding: 0 2rem;

    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;

    /* hidden scroll bar */
    &.mobileScroll {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      flex-wrap: nowrap;
      padding: 1;
    }

    .galleryItems {
      display: flex;
      transition: transform 0.5s ease-in-out;

      &.mobileScroll {
        transition: none;
        scroll-snap-align: start;
      }
    }

    .galleryItem {
      scroll-snap-align: center;
    }
  }

  .galleryContainer::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari,Edge Hidden */
  }

  .galleryButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f3f4f6;
    border-radius: 50%;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    &:first-of-type {
      left: 1rem;
    }

    &:last-of-type {
      right: 1rem;
    }
  }

}